@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 88%);
  border-radius: 12px;
}

::-moz-scrollbar {
  background-color: #F5F5F5;
  width: 10px;
  }

  ::-moz-scrollbar-thumb {
   background-color: #818CF8;
  border-radius: 12px;
}

